@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.navbar {
  padding-top: 1rem;
  .navbar__wrapper {
    @include m.flex(space-between, center);
    .navbar__logo {
      @include m.flex(space-between, center, row);
      font-size: v.$font-size-h2-desktop;
      font-weight: v.$weight-bold;
      a {
        padding: 1rem;
      }
    }
    .navbar__menu {
      @include m.flex(space-between, center, row);
      a {
        padding: 0.9rem 2rem;
        font-size: v.$font-size-p-desktop;
        font-weight: v.$weight-light;
      }
    }
    .navbar__toggle {
      display: none;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
