@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
.team {
  margin-bottom: v.$spacing-xl;
  .container {
    @include m.flex(stretch, stretch, column);
  }
  &__title {
    margin-bottom: v.$spacing-lg;
    @include m.flex(start, center);
    h2 {
      background-color: v.$color-primary;
      padding: 0.6rem;
      border-radius: 0.8rem;
      margin-right: 2rem;
    }
    p {
      width: 35rem;
    }
  }
  &__card {
    @include m.flex(space-between, stretch, column);
    position: relative;
    padding: 3rem;
    height: 24rem;
    -webkit-box-shadow: 0px 7px 0px 0px #000000;
    box-shadow: 0px 7px 0px 0px #000000;
    border: 1px solid black;
    border-radius: v.$border-radius-card;
  }
  .card__header {
    @include m.flex(start, center, row, 1rem);
    padding-top: 1rem;
  }
  &__linkdin {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  button {
    padding: 0 5rem;
    margin-top: 2rem;
    align-self: flex-end;
  }
}
@include m.respond("land-tab") {
  .team {
    &__content {
      grid-template-columns: repeat(2, 1fr);
    }
    &__title {
      @include m.flex(center, center, column, 1rem);
      text-align: center;
      br {
        display: none;
      }
      p {
        width: auto;
      }
    }
    &__card {
      margin-bottom: v.$spacing-md;
    }
    button {
      align-self: center;
    }
  }
}
@include m.respond("port-tab") {
  .team {
    &__content {
      grid-template-columns: 1fr;
    }
    &__card {
      padding: 1rem;
    }
    .card__header {
      padding-top: 2.5rem;
    }
  }
}
