@mixin flex(
  $justify-content: center,
  $align-items: center,
  $flex-direction: row,
  $gap: 0
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin glassesMenu {
  background: rgba(255, 255, 255, 0.952);
  border: 0.5px solid rgba(0, 0, 0, 0.753);
  border-radius: 1rem;
}

@mixin respond($breakpoint) {
  @if $breakpoint == "phone" {
    @media only screen and (max-width: 37.5rem) {
      @content;
    }
  } @else if $breakpoint == "port-tab" {
    @media only screen and (max-width: 56.25rem) {
      @content;
    }
  } @else if $breakpoint == "land-tab" {
    @media only screen and (max-width: 75rem) {
      @content;
    }
  } @else if $breakpoint == "big-desktop" {
    @media only screen and (min-width: 112.5rem) {
      @content;
    }
  }
}
