//colors 
$color-primary:#B9FF66;
$color-secondary:#191A23;
$tertiary-color:#F3F3F3;

//fonts
$font-family-primary: 'SpaceGrotesk', sans-serif;

// weight font 
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

// font size desktop
$font-size-h1-desktop: 3.75rem;
$font-size-h2-desktop: 2.5rem;
$font-size-h3-desktop: 1.875rem;
$font-size-h4-desktop: 1.25rem;
$font-size-p-desktop: 1.125rem;

//font size mobile
$font-size-h1-mobile: 2.7rem;
$font-size-h2-mobile: 2.25rem;
$font-size-h3-mobile: 1.625rem;
$font-size-h4-mobile: 1.125rem;
$font-size-p-mobile: 1rem;

//line height
$line-height-h1: 1.2;
$line-height-h2: 1.3;
$line-height-h3: 1.4;
$line-height-base: 1.6;